services:
  caddy:
    image: lucaslorentz/caddy-docker-proxy:alpine
    container_name: caddy_proxy
    ports:
      - 80:80
      - 443:443
    environment:
      - CADDY_INGRESS_NETWORKS=dev
    volumes:
      - /run/docker.sock:/var/run/docker.sock
      - ./caddy_data:/data

  adminer:
    image: adminer:latest
    #    build: ./dockerfiles/adminer
    container_name: adminer
    environment:
      - TZ=Europe/Prague
      - ADMINER_PLUGINS=dump-date display-foreign-key-name tables-filter floatThead
      - ADMINER_DEFAULT_SERVER=mysql
    volumes:
      # plugins to enable
      - ./adminer/floatThead.php:/var/www/html/plugins/floatThead.php
      - ./adminer/display-foreign-key-name.php:/var/www/html/plugins/display-foreign-key-name.php
      - ./adminer/tables-filter.php:/var/www/html/plugins/tables-filter.php
      # custom style
      - ./adminer/adminer.css:/var/www/html/adminer.css
    labels:
      caddy: http://adminer.localhost
      caddy.reverse_proxy: "{{upstreams 8080}}"
    

  mysql: # Shared DB container
    image: mariadb:11.4
    container_name: mysql
    environment:
      - TZ=Europe/Prague
      - MYSQL_ROOT_PASSWORD
    volumes:
      - ./mysql-data:/var/lib/mysql
      - ./maria_conf:/etc/mysql/conf.d
    ports:
      - "3316:3306"

  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    environment:
      - TZ=Europe/Prague
    labels:
      caddy: http://mailhog.localhost
      caddy.reverse_proxy: "{{upstreams 8025}}"

  redis:
    image: redis:alpine
    container_name: redis
    environment:
      - TZ=Europe/Prague
    ports:
      - "6379:6379"

  redisadmin:
    image: erikdubbelboer/phpredisadmin:latest
    container_name: redisadmin
    environment:
      - ADMIN_USER=admin
      - ADMIN_PASS=admin
      - REDIS_1_HOST=redis
      - REDIS_1_PORT=6379
    labels:
      caddy: http://redisadmin.localhost
      caddy.reverse_proxy: "{{upstreams 80}}"

networks:
  default:
    name: dev
    external: true

